{% extends "main.html" %}

{% block content %}

{% load static %}
<h1 class="test">Products List:</h1>

<head>
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
</head>


<div class="info-card">
  {% for category in categories%}
    <h2>
      {{category.id}}. {{category.name}}
      <a href="{% url 'update-category' category.id %}">edit</a>
      <a href="{% url 'delete-category' category.id %}">delete</a>
    </h2>
    {% for product in category.products.all %} 
      {% if product.category == category %}
        <li>- name: <b>{{product.name}}</b></li>
        <li>- stock: {{product.stock}}</li>
        <li>- price: {{product.price}}</li>
        {% if product.description %}
          <li>- description: {{product.description}}</li>
        {% endif %}

        <a href="{% url 'update-product' product.id %}">edit</a>
        <a href="{% url 'delete-product' product.id %}">delete</a>
        <hr />
      {% endif %}

      {% empty %}
        <p><b>{the category is empty}</b></p>
    {% endfor %}

  {% endfor%}
</div>


<div>
  {% if None in categories  %}
    <h2>Un-Categorized</h2>
    {% for product in products %}
      {% if product.category == None %}
        <li>- name: <b>{{product.name}}</b></li>
        <li>- stock: {{product.stock}}</li>
        <li>- price: {{product.price}}</li>
        {% if product.description %}
          <li>- description: {{product.description}}</li>
        {% endif %}
        <a href="{% url 'update-product' product.id %}">
          edit
        </a>
        <a href="{% url 'delete-product' product.id %}">
          delete
        </a>
        <hr />
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}

